rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /physics_9702_w25_11/{scoreId} {
      allow read: if true;
      allow create: if
        request.resource.data.name is string &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() <= 24 &&
        request.resource.data.score is number &&
        request.resource.data.score >= 0 &&
        request.resource.data.score <= 40 &&
        request.resource.data.totalAttempts is number &&
        request.resource.data.totalAttempts >= 40 &&
        request.resource.data.totalAttempts <= 160 &&
        request.resource.data.firstTryCorrect is number &&
        request.resource.data.firstTryCorrect >= 0 &&
        request.resource.data.firstTryCorrect <= 40 &&
        request.resource.data.eventualCorrect is number &&
        request.resource.data.eventualCorrect >= 0 &&
        request.resource.data.eventualCorrect <= 40 &&
        request.resource.data.incorrect is number &&
        request.resource.data.incorrect >= 0 &&
        request.resource.data.incorrect <= 40 &&
        request.resource.data.totalTime is number &&
        request.resource.data.totalTime >= 0 &&
        request.resource.data.totalTime <= 21600000;
    }

    match /physics_9702_w25_11_live/{sessionId} {
      allow read: if true;
      allow create, update: if
        request.resource.data.name is string &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() <= 24 &&
        request.resource.data.score is number &&
        request.resource.data.score >= 0 &&
        request.resource.data.score <= 40 &&
        request.resource.data.totalAttempts is number &&
        request.resource.data.totalAttempts >= 0 &&
        request.resource.data.totalAttempts <= 160 &&
        request.resource.data.firstTryCorrect is number &&
        request.resource.data.firstTryCorrect >= 0 &&
        request.resource.data.firstTryCorrect <= 40 &&
        request.resource.data.eventualCorrect is number &&
        request.resource.data.eventualCorrect >= 0 &&
        request.resource.data.eventualCorrect <= 40 &&
        request.resource.data.incorrect is number &&
        request.resource.data.incorrect >= 0 &&
        request.resource.data.incorrect <= 40 &&
        request.resource.data.totalTime is number &&
        request.resource.data.totalTime >= 0 &&
        request.resource.data.totalTime <= 21600000 &&
        request.resource.data.currentQuestion is number &&
        request.resource.data.currentQuestion >= 1 &&
        request.resource.data.currentQuestion <= 40;
      allow delete: if true;
    }

    match /physics_9702_w25_11_participants/{sessionId} {
      allow read: if true;
      allow create, update: if
        request.resource.data.name is string &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() <= 24 &&
        request.resource.data.score is number &&
        request.resource.data.score >= 0 &&
        request.resource.data.score <= 40 &&
        request.resource.data.totalAttempts is number &&
        request.resource.data.totalAttempts >= 0 &&
        request.resource.data.totalAttempts <= 160 &&
        request.resource.data.firstTryCorrect is number &&
        request.resource.data.firstTryCorrect >= 0 &&
        request.resource.data.firstTryCorrect <= 40 &&
        request.resource.data.eventualCorrect is number &&
        request.resource.data.eventualCorrect >= 0 &&
        request.resource.data.eventualCorrect <= 40 &&
        request.resource.data.incorrect is number &&
        request.resource.data.incorrect >= 0 &&
        request.resource.data.incorrect <= 40 &&
        request.resource.data.totalTime is number &&
        request.resource.data.totalTime >= 0 &&
        request.resource.data.totalTime <= 21600000 &&
        request.resource.data.currentQuestion is number &&
        request.resource.data.currentQuestion >= 1 &&
        request.resource.data.currentQuestion <= 40;
    }

    match /mail/{mailId} {
      allow read, update, delete: if false;
      allow create: if
        request.resource.data.to is string &&
        request.resource.data.to.size() > 3 &&
        request.resource.data.to.size() <= 120 &&
        request.resource.data.message.subject is string &&
        request.resource.data.message.subject.size() <= 120 &&
        request.resource.data.message.text is string &&
        request.resource.data.message.text.size() <= 5000 &&
        request.resource.data.message.html is string &&
        request.resource.data.message.html.size() <= 7000;
    }
  }
}
